*{
    text-align: center;
}

nav{
    background-color:darkred;

    color: black;
    display: inline-block;
    padding: 4px;
    margin: 0.2vh;
    
    width: 38vw;

  

}

.nombres{

    margin-top: 30px;
    padding-top: 0;
    margin-bottom: 10px;
    color:darkred;
    font-size: 4vh;
}




h1, h2, h3, h4, h5, h6{

    padding: 0;
    margin-top: 0;
    margin-bottom: 0px;
    color:royalblue;
    font-style: italic;
    font-weight: 50vh 50vw;
    font-size: 5vh;
}

.titulo{
    font-size: 9vh;
    margin-bottom: 2vh;
}


body{
    
    background-color:purple;
    border: ridge 2vh palevioletred;
    margin: 0 auto;
}

.foto-titulo{

    margin-bottom: 0 auto;
    margin-top: 0 auto;
    height: 50vh;
    width: 36vw;
    
}

section{

    margin-bottom: 3vh;
    margin-top: 0;
}

div{

    background-color: chartreuse;
    padding: 7vh 5vw;
    margin: 0 auto;
    display: inline-block;
    border: groove 2vh;
}

.letrasFormulario{

    color: purple;
    font-stretch: expanded;
    
}


a{

    color: black;
}