*{
    text-align: center;
}

nav{
    background-color:darkred;

    color: black;
    display: inline-block;
    padding: 0.5em;
    margin: 0.2em;
    margin-top: 0.5em;
    width: 38vw;

  

}

.nombres{

    margin-top: 1.5em;
    padding-top: 0em;
    margin-bottom: 0.4em;
    color:darkred;
    font-size: 1.6em;
}




h1, h2, h3, h4, h5, h6{

    padding: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    color:royalblue;
    font-style: italic;
    font-weight: 50vh 50vw;
    font-size: 5vh;
}

.titulo{
    font-size: 9vh;
    margin-bottom: 0.3em;
}


body{
    
    background-color:purple;
    border: ridge 1vw palevioletred;
    margin: 0 auto;
}

.foto-titulo{

    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

section{

    margin-bottom: 2em;
    margin-top: 0em;
}

div{

    background-color: chartreuse;
    padding: 5em 3em;
    margin: 0 auto;
    display: inline-block;
    border: groove 1vw;
}

.letrasFormulario{

    color: purple;
    font-stretch: expanded;
    
}


a{

    color: black;
}